<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The <a href="http://www.railstutorial.org/"><em>PharmaC Database Application</em></a> is a
  <a href="http://www.railstutorial.org/book">program</a> and
  <a href="http://screencasts.railstutorial.org/">application</a>
  to store and alter information about stock of medicine of
  <a href="http://rubyonrails.org/">pharmacies</a>.
</p>